@import './base.css';

.error{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.container{
    padding: 0 100px;
}

.main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.post-list{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    max-width: 640px;
    width: 100%;
    border: 2px solid transparent;
    background: linear-gradient(var(--block-background-color), var(--block-background-color)) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, var(--primary-color)) ;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

.dropdown-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 10px;
    width: 100%;
}

.dropdown-item:hover{
    background: var(--block-hover-background-color);
    border-radius: 10px;
    cursor: pointer;
}

.input-default{
    border-radius: 10px;
    background-color: var(--block-hover-background-color);
}
.textaria-default{
    width: 500px;
    height: 109px;
}
@keyframes gradient {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 30% 50%;
    }
}


@media screen and (max-width: 768px) {
    .container{
        padding: 0 20px;
    }
}